html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: azure;
}

.menu-div {
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: steelblue;
  color: aliceblue;
  border: 1px;
  padding: 10px;
  border-style: solid;
  border-color: black;
}

.content-div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 25px;
}

.map-div {
  height: 100%;
  width: 100%;
  border: 1px;
  margin: 10px;
  border-style: solid;
  border-color: white;
}

.trucks-div {
  margin-bottom: 30px;
  font-size: x-large;
  border: 1px;
  border-style: solid;
  border-color: white;
  padding: 15px;
}

.drivers-div {
  margin-bottom: 30px;
  font-size: x-large;
  border: 1px;
  border-style: solid;
  border-color: white;
  padding: 15px;
}

.orders-div {
  margin-bottom: 30px;
  font-size: x-large;
  border: 1px;
  border-style: solid;
  border-color: white;
  padding: 15px;
}

.label {
  margin-bottom: 5px;
}

.truck-div {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 20px;
  align-items: center;
  border: 1px solid black;
  height: auto;
  width: auto;
  background-color: powderblue;
  border-radius: 15px;
}

.order-div {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 20px;
  align-items: center;
  border: 1px solid black;
  height: auto;
  width: auto;
  background-color: powderblue;
  border-radius: 15px;
}

.driver-div {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 20px;
  align-items: center;
  border: 1px solid black;
  height: auto;
  width: auto;
  background-color: powderblue;
  border-radius: 15px;
}

.contentItems-div {
  width: 100%;
  height: 100%;
}

.container-div {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.newOrder-div {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 10px;
  align-items: center;
  border: 1px solid black;
  height: 40%;
  width: 40%;
  background-color: steelblue;
  color: azure;
  
}

.newOrder-button {
  height: 15px;
  width: auto;
  margin: 15px;
  padding: 20px;
  background-color: azure;
}

.newOrderDestination-div {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 50%;
  margin: 5px;
}